/* optional icon style */
.zoomIcon { 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(../imgs/icon.png);
}
.zoom {
    display:inline-block;
    position:relative;
}

.zoom img {
    display: block;
}

.zoom img::selection { background-color: transparent; }

body {
    margin: 0;
    padding: 0;
}

footer {
    display: block;
    font-size: 0.8em;
    position: absolute;
    top: 310px;
    right: -168px;

    /* Rotate from top left corner (not default) */
    -webkit-transform: rotate(-90deg); 
    -moz-transform:    rotate(-90deg); 
    -ms-transform:     rotate(-90deg); 
    -o-transform:      rotate(-90deg); 
}

.retornaBackground {
    fill: none;
    pointer-events: all;
}

#estadaoDadosMainFrame {
    width: 956px;
    max-height: 510px;
    height: auto;
    display: block;
    font-family: arial;
    margin-left: 1px;
}

#estadaoDadosMainFrame #titulo {
    font-weight: bold;
    font: bold 18px/25px arial;
    padding-left: 10px;
}

#estadaoDadosMainFrame .linhafina {
    color: lightGrey;
    background: lightGrey;
    border: 0;
    width: 90%;
    height: 1px;
}

/* TODO: Aplicar transição */
#estadaoDadosMainFrame #origemDados {
    font: bold 16px/33px arial; 
}

#legendaDeCores {
    position: absolute;
    width: 350px;
    height: 60px;
    right: 0px;
    top: 0px;
    z-index: 3000;
}

/* Acessórios */
#alertar {
    display: none;
    text-align:center;
    height:75px;
    width:150px;
    position:absolute;
    margin-left:400px;
    top:300px;
    background:lightgrey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border:2px solid gray;
    font-size:1.3em;
    padding:30px;
    color:gray;
    z-index: 9999;
}

#fechar {
    font-size: 0.7em;
    font-weight: bold;
    color: gray;
    opacity: 0.7;
}


/* ABAS */
#estadaoDadosAbas {
    position: relative;
    height: 30px;
}

#estadaoDadosAbas ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#estadaoDadosAbas li {
    float: left;
}

#estadaoDadosAbas li a {
    display: block;
    height: 30px;
    margin: 0 2px 0 0;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    font: normal 14px/35px arial; 
    color: #999;
    background: #F4F4F4;
    cursor:auto;
    text-decoration: none;
}

#estadaoDadosAbas li a:hover {
    text-decoration: none;
    background: white;
    cursor:auto;
}

#estadaoDadosAbas li a.selected,
#estadaoDadosAbas li a.selected:hover {
    height: 30px;
    margin: 0;
    font-weight: bold;
    line-height: 32px;
    color: #FF5900;
    opacity: 0.6;
    background: white;
    text-decoration: none;
    cursor:auto;
}


/* CONTEUDO SVG */
#estadaoDadosMainFrame div.conteudo,
#estadaoDadosMainFrame div.conteudo #svgEstadaoDados,
#estadaoDadosMainFrame div.conteudo #svgEstadaoDados #prefeitos_partidos {
    max-height: 470px;
    width: 956px;
    height: auto;
}

#estadaoDadosMainFrame div.conteudo {
    padding: 0 !important;
    margin: 0 !important;
    border: none; /*1px solid #DFDFDF;*/
    border-top: 0;
}

/* LEGENDA DO GRÁFICO */

.nvtooltip table {
    text-align:center;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border:none;
}

.nvtooltip caption {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 10px;
    border:none;
}

.nvtooltip tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
} 

.nvtooltip thead th:first-child {
    border-bottom: 1px solid #CCC;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    background-image: none;
}

.nvtooltip thead th {
    font-weight: normal;
    text-align: center;
    padding: 2px;
    font-size: 1em;
    margin-top: 4px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 0px; /* 1px solid #CCC; */
    border-right: 0px;
}

.nvtooltip th {
    padding: 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 0px; /* 1px solid #CCC; */
    border-right: 0px;
    font-weight: normal;
    font-size: 1em;
}

/* Background color das legendas seguindo as cores das barras */
/* 1 turno 2008 */
td.leg20081turno {
    background: rgba(238,238,238,0.4);
}

/* 1 turno 2012 */
td.leg20121turno {
    background: rgba(255,89,0,0.4);
}

/* Final 2 turno 2008 */
td.leg20082turno {
    background: rgba(136,136,136,0.4);
}

/* Final 2 turno 2012 */
td.leg20122turno {
    background: rgba(168,48,0,0.4);
}

td.leg2008final {
    background: rgba(232,0,0,1);
}

.nvtooltip td {
    padding: 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 0px; /* 1px solid #CCC; */
    border-right: 0px;
    font-weight: bold;   
    font-size: 1.1em;
}



.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: #E89B0C;} /* lightsteelblue; } */
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

/********************
 * HTML CSS
 */

.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/********************
 * TOOLTIP CSS
 */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 10000;

  font-family: Arial;
  font-size: 13px;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 4px 4px 8px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,.5);
  box-shadow: 4px 4px 8px rgba(0,0,0,.5);

  -moz-border-radius: 20px;
  border-radius: 20px;

  pointer-events: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nvtooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nvtooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}

.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none;
}


/********************
 * SVG CSS
 */

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
}

svg text {
  font-weight: bold;
  font: 11px sans-serif;
}

svg .title {
 font: bold 14px Arial;
}

.nvd3 .nv-background {
  fill: none;
}

.nvd3.nv-noData {
  font-size: 18px;
  font-weight: bolf;
}

/**********
*  Bullet
*/
.nvd3.nv-bullet .nv-markerLine { stroke: #E80000; fill: none; stroke-width: 2; opacity:1;}
.nv-tick { font-size: 10px !important; }
.nv-title { font-size: 11px; font-weight: bold; }

.nvd3.nv-bullet { font: 10px sans-serif; cursor: pointer; }
.nvd3.nv-bullet rect { fill-opacity: .7; }
.nvd3.nv-bullet rect:hover { fill-opacity: 1; }
.nvd3.nv-bullet .nv-marker { stroke: #000; stroke-width: 2px; }
.nvd3.nv-bullet .nv-markerTriangle { stroke: #000; fill: #fff; stroke-width: 1.5px; }
.nvd3.nv-bullet .nv-tick line { stroke: #666; stroke-width: .5px; }
.nvd3.nv-bullet .nv-range.nv-s0 { fill: #888;}/* { fill: #eee; }*/ 
.nvd3.nv-bullet .nv-range.nv-s1 { fill: #eee;}/* { fill: #ddd; }*/ 
.nvd3.nv-bullet .nv-range.nv-s2 { fill: #eee;}/* { fill: #ccc; }*/ 
.nvd3.nv-bullet .nv-measure.nv-s0 { fill: #A83000; }/* #732800; } */
.nvd3.nv-bullet .nv-measure.nv-s1 { fill: #FF5900; }
.nvd3.nv-bullet .nv-subtitle { fill: #999; }
