#dashboard {
    color: black;
    margin-bottom: 10px;
    max-width: 100%;
}

#dashboard-bar section {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#dashboard-bar #rendamedia, #dashboard-bar #populacao {
    width: 18%;
}

#dashboard-bar section {
    font-weight: bold;
}

#dashboard-bar section em {
    font-size: 34px;
    font-style: normal;
}

#dashboard-bar section p {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 10px;
}

#dashboard-bar .selected {
    color: #FF5900;
}

#dashboard-bar section:hover {
    color: #ddd;
}

#dashboard-bar nav p img {
    margin: auto;
    display: block;
}

#dashboard-header h2 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 1px;
    color: black;
}

#dashboard-header h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#nome-partido {
    color: #FF5900;
}

.menuED li.oculto {
    display: none;
}

#conteudoPrincipal {
    width: 980px;
    display: block;
    font-family: arial;
    margin-left: 1px;
}

#titulo {
    font-weight: bold;
    font: bold 18px/25px arial;
    margin-top: 4px;
    line-height:30px;
    text-transform: uppercase;
    color:black;
    font-size:1.9em
}

#conteudoPrincipal .linhafina {
    color: lightGrey;
    background: lightGrey;
    border: 0;
    width: 90%;
    height: 1px;
}

/* TODO: Aplicar transição */
#origemDados {
    width: 620px;
    margin-bottom: 4px;
    display: inline-block
}

#legendaDeCores {
    float: right;
    width: 350px;
    height: 60px;
    right: 0px;
    top: -46px;
    z-index: 3000;
}

/* Acessórios */
#alertar {
    display: none;
    text-align:center;
    height:75px;
    width:150px;
    position:absolute;
    margin-left:400px;
    top:300px;
    background:lightgrey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border:2px solid gray;
    font-size:1.3em;
    padding:30px;
    color:gray;
    z-index: 9999;
}

#fechar {
    font-size: 0.7em;
    font-weight: bold;
    color: gray;
    opacity: 0.7;
}

/* CONTEUDO SVG */
#apuracao,
#apuracao #prefeitos_partidos {
    width: 478px;
    float: left;
}

#conteudoPrincipal figure {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    border: none; /*1px solid #DFDFDF;*/
    border-top: 0;
}

.bullet { font: 10px sans-serif; margin-bottom: 4px; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #FF5900; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: #ccc;} /* lightsteelblue; } */
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 11px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
.bullet .marker, .bullet .tick { display: none; }
.bullet {
    fill-opacity: 0.5;
    cursor: pointer;
}
.bullet:hover, .bullet.selected {
    fill-opacity: 1;
}

/********************
 * SVG CSS
 */

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
}

svg text {
  font-weight: bold;
  font: 11px sans-serif;
}

svg .title {
 font: bold 14px Arial;
}

.footer {
    clear: both;
}
