/* optional icon style */
.zoomIcon { 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(../imgs/icon.png);
}
.zoom {
    display:inline-block;
    position:relative;
}

.zoom img {
    display: block;
}

.zoom img::selection { background-color: transparent; }

.menuED li.oculto {
    display: none;
}

.retornaBackground {
    fill: none;
    pointer-events: all;
    width: 956px;
}
#conteudoPrincipal {
    width: 956px;
    display: block;
    font-family: arial;
    margin-left: 1px;
}

#titulo {
    font-weight: bold;
    font: bold 18px/25px arial;
    margin-top: 4px;
    line-height:30px;
    text-transform: uppercase;
    color:black;
    font-size:1.9em
}

#conteudoPrincipal .linhafina {
    color: lightGrey;
    background: lightGrey;
    border: 0;
    width: 90%;
    height: 1px;
}

/* TODO: Aplicar transição */
#origemDados {
    width: 620px;
    margin-bottom: 4px;
    display: inline-block
}

#legendaDeCores {
    float: right;
    width: 350px;
    height: 60px;
    right: 0px;
    top: -46px;
    z-index: 3000;
}

/* Acessórios */
#alertar {
    display: none;
    text-align:center;
    height:75px;
    width:150px;
    position:absolute;
    margin-left:400px;
    top:300px;
    background:lightgrey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border:2px solid gray;
    font-size:1.3em;
    padding:30px;
    color:gray;
    z-index: 9999;
}

#fechar {
    font-size: 0.7em;
    font-weight: bold;
    color: gray;
    opacity: 0.7;
}

/* ABAS - Gráfico */
#graficoAbas {
    position: absolute;
    height: 30px;
}

#graficoAbas ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#graficoAbas li {
    float: left;
}

#graficoAbas li a {
    display: block;
    height: 30px;
    margin: 0 2px 0 0;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    font: normal 14px/35px arial; 
    color: #999;
    background: #F4F4F4;
    cursor:auto;
    text-decoration: none;
}

#graficoAbas li a:hover {
    text-decoration: none;
    background: white;
    cursor:auto;
}

#graficoAbas li a.selected,
#graficoAbas li a.selected:hover {
    height: 30px;
    margin: 0;
    font-weight: bold;
    line-height: 32px;
    color: #FF5900;
    opacity: 0.6;
    background: white;
    text-decoration: none;
    cursor:auto;
}


/* CONTEUDO SVG */
#apuracao,
#apuracao #prefeitos_partidos {
    max-height: 470px;
    width: 956px;
    margin: 0 !important;
}

#conteudoPrincipal figure {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    border: none; /*1px solid #DFDFDF;*/
    border-top: 0;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .tick { display: none; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: #E89B0C;} /* lightsteelblue; } */
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }


/********************
 * SVG CSS
 */

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
}

svg text {
  font-weight: bold;
  font: 11px sans-serif;
}

svg .title {
 font: bold 14px Arial;
}

