#barraEstadaoParceiros {
  width:980px;
  height:27px;
  background:white !important;
  display:table;
  margin:0px auto;
  margin-bottom:5px;
  -webkit-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
}
#barraEstadaoParceiros ul {margin:0;padding:0;}
.lgBarraEstadaoParceiros {float:left; margin-right:10px}
.lstBarraEstadaoParceiros {margin:0px; padding:0px; list-style:none; float:right; margin-right:10px; height:27px; line-height:27px;}
.itemBarraEstadaoParceiros {display:block; float:left; color:#C4C3C3; font:11px Arial, Helvetica, sans-serif bold; height:27px; line-height:27px;}
.itemBarraEstadaoParceiros a {
  text-decoration:none;
  color:#C4C3C3;
  font:11px Arial, Helvetica, sans-serif bold;
  border-right:1px solid #C4C3C3;
  padding-right:5px;
  margin-right:5px;
  line-height:27px;
}
.lastItemBarra {
  border:none!important;
  padding:0px!important; 
  margin:0px!important
}
