#map {
    padding: 10px;
    float: right;
}

#map svg {
    width: 458px;
    height: 470px;
}

#map path {
    fill: crimson;
    fill-opacity: 0;
    stroke-width: 250px;
    stroke: black;
}

#map path:hover {
    stroke-width: 500px;
}

